@page
@model SinusSkateboards.UI.Pages.Cart.CartModel
@using SinusSkateboards.UI.Helpers;
@{
    Layout = "_CartLayout";
}

@if (Model.MyCart == null)
{
    <div class="text-center text-danger">
        <h1>No products found</h1>
        <img class="rounded-circle" src="~/images/travolta.png" />
    </div>

    <div class="text-center mt-4">
        <a class="btn btn-primary" asp-page="Index">Back to shopping</a>
    </div>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>

                </th>
                <th>
                    Name
                </th>
                <th>
                    Color
                </th>
                <th>
                    Category
                </th>
                <th>
                    Quantity
                </th>
                <th>
                    Price
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @{ decimal total = 0; }
            @foreach (var item in Model.MyCart)
            {
                total += item.Product.Price * item.Quantity;
            <tr>
                <td>
                    <img src="~/images/@item.Product.PhotoName" height="40" width="40" alt="@item.Product.PhotoName" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Product.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Product.Color)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Product.Category)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Quantity)
                </td>
                <td>
                    @(item.Product.Price * item.Quantity) kr
                </td>
                <td>
                </td>
                <td>
                </td>
            </tr>
            }
            <tr>
                <td class="font-weight-bold" colspan="5" align="right">Total:</td>
                <td>@total kr</td>
            </tr>
        </tbody>
    </table>
    <br />

    <div class="text-center mt-4">
        <a class="btn btn-primary" asp-page="Index">Continue shopping</a>
    </div>

}


