@page
@model SinusSkateboards.UI.Pages.Home.CartModel
@using SinusSkateboards.UI.Helpers;
@{
    Layout = "_CartLayout";
}

@if (Model.MyCart == null)
{
    <div class="text-center text-danger">
        <h1>No products found</h1>
        <img class="rounded-circle" src="~/images/travolta.png" />
    </div>

    <div class="text-center mt-4">
        <a class="btn btn-primary" asp-page="Index">Back to shopping</a>
    </div>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    Name
                </th>
                <th>
                    Color
                </th>
                <th>
                    Category
                </th>
                <th>
                    Price
                </th>
                <th>
                    Image
                </th>
                <th>
                    Quantity
                </th>
                <th>
                    Total Price
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.MyCart)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Product.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Product.Color)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Product.Category)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Product.Price)
                    </td>
                    <td>
                        <img src="~/images/@item.Product.PhotoName" height="40" width="40" alt="@item.Product.PhotoName" />
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Quantity)
                    </td>
                    <td>
                        @(item.Product.Price * item.Quantity)
                    </td>
                    <td>
                    </td>
                    <td>
                        <a asp-page="./Edit" asp-route-id="@item.Product.Id">Edit</a> |
                        <a asp-page="./Details" asp-route-id="@item.Product.Id">Details</a> |
                        <a asp-page="./Delete" asp-route-id="@item.Product.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <br />

    <div class="text-center mt-4">
        <a class="btn btn-primary" asp-page="Index">Continue shopping</a>
    </div>

}


