@page
@model SinusSkateboards.UI.Pages.Home.ConfirmationModel
@{
    ViewData["Title"] = "Confirmation";
}


<div class="text-center mb-4">
    <h1>Thank you for your purchase!</h1>
    <h3 class="text-primary">Your Order Number is: @Model.Order.Id</h3>
</div>

<div class="mt-4"></div>

<table class="table">
    <thead>
        <tr>
            <th>

            </th>
            <th>
                Name
            </th>
            <th>
                Color
            </th>
            <th>
                Category
            </th>
            <th>
                Quantity
            </th>
            <th>
                Price
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @{ decimal total = 0;}
        @foreach (var item in Model.MyCart)
        {
            total += item.Product.Price * item.Quantity;
         
            <tr>
                <td>
                    <img src="~/images/@item.Product.PhotoName" height="40" alt="@item.Product.PhotoName" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Product.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Product.Color)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Product.Category)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Quantity)
                </td>
                <td>
                    @(item.Product.Price * item.Quantity) kr
                </td>
                <td>
            </tr>
            
        }
        <tr>
            <td class="font-weight-bold" colspan="5" align="right">Total:</td>
            <td>@total kr</td>
        </tr>
       
    </tbody>
</table>