@page
@model SinusSkateboards.UI.Pages.Home.DetailsModel

@{
    ViewData["Title"] = Model.Product.Name;
}

<h2 class="card-title text-center">@Html.DisplayFor(modelItem => Model.Product.Name)</h2>
<hr />

<div>
    <form method="get">
        <div class="form">
            <h3>More Colors</h3>
            <select asp-for="ColorSearch" asp-items="@(new SelectList(Model.Colors))">
                <option value="" selected disabled>Colors</option>
            </select>
            <input type="text" hidden asp-for="@Model.ColorId" value="@Model.Product.Id"/>
            <button class="btn btn-primary" type="submit" asp-page="/Details">View</button>
        </div>
    </form>
</div>
<div class="container-fluid">
    <div class="row justify-content-center">

        <div class="card" style="width: 16rem;">
            <img class="card-img-top" src="~/Images/@Model.Product.PhotoName" alt="@Model.Product.PhotoName">
            <div class="card-body text-center">

                <p class="card-text">@Html.DisplayFor(modelItem => Model.Product.Description)</p>
                <p class="card-text">@Html.DisplayFor(modelItem => Model.Product.Color)</p>
                <p class="card-text">@Html.DisplayFor(modelItem => Model.Product.Price) kr</p>
                <a class="btn btn-warning" asp-page="./Index">Back to products</a>
                <a asp-page="Cart" asp-page-handler="buy" asp-route-id="@Model.Product.Id" class="btn btn-success">Buy</a>
            </div>
        </div>
    </div>
</div>
