@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}



<div class="text-center">
    <h3 class="display-4">Add New Product</h3>
</div>

<div class="text-center">
    <form method="post">
        <div class="form-group">
            <input placeholder="Product Name:" asp-for="Product.Name" />
        </div>
        <div class="form-group">
            <input placeholder="Description" asp-for="Product.Description" />
        </div>
        <div class="form-group">
            <input placeholder="Color:" asp-for="Product.Color" />
        </div>
        <div class="form-group">
            <input placeholder="Category:" asp-for="Product.Category" />
        </div>
        <div class="form-group">
            <input placeholder="Price:" asp-for="Product.Price" />
        </div>
        <input type="submit" value="Save Product" />
    </form>
</div>

<div class="text-center mt-4">

    <h2>All Products</h2>
    @foreach (var p in Model.Products)
     {
        <p>
            @p.Name - @p.Description -  @p.Color -  @p.Category -  @p.Price
        </p>

     }
</div>
