@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<div class="text-center mt-4">

    <h2>All Products</h2>
    @foreach (var p in Model.Products)
     {
        <p>
            @p.Name - @p.Description -  @p.Color -  @p.Category -  @p.Price
        </p>

     }
</div>
